In [12]:
import pandas as pd

# Ruta al archivo CSV original
ruta = 'D:\\Users\\OneDrive\\Escritorio\\DA & BA\\Work\\Tisagar\\Bitget\\Bitget 1er semana julio.csv'

# Leer el archivo y limpiar las tabulaciones
with open(ruta, 'r', encoding='utf-8') as file:
    lines = file.readlines()

# Eliminar las tabulaciones
cleaned_lines = [line.replace('\t', '') for line in lines]

# Escribir las líneas limpias a un nuevo archivo temporal
ruta_limpia = 'D:\\Users\\OneDrive\\Escritorio\\DA & BA\\Work\\Tisagar\\Bitget\\Bitget_1er_semana_julio_limpio.csv'
with open(ruta_limpia, 'w', encoding='utf-8') as file:
    file.writelines(cleaned_lines)

# Leer el archivo limpio con Pandas sin usar ninguna columna como índice
df = pd.read_csv(ruta_limpia, delimiter=',', header=0, index_col=False, dtype=str)

# Renombrar las columnas
columnas_correctas = [
    "Número de orden", "Fecha de creación", "Tipo de orden", "Cripto", 
    "Fiat", "Precio total", "Precio", "Monto", "Contraparte", "Estado"
]
df.columns = columnas_correctas

In [13]:
columnas_a_eliminar = ['Estado','Contraparte']
df = df.drop(columns=columnas_a_eliminar)

In [14]:
df['Fecha de creación'] = pd.to_datetime(df['Fecha de creación'])

In [15]:
df_compra = df[df['Tipo de orden'] == 'Comprar']
df_venta = df[df['Tipo de orden'] == 'Vender']

In [16]:
df_c = df_compra.sort_values(by='Fecha de creación')
df_v = df_venta.sort_values(by='Fecha de creación')

In [17]:
df_c['Exchange compra'] = 'Bitget - Usdt'
df_c['Banco envio'] = 'Lemon'

df_v['Exchange Venta'] = 'Bitget - Usdt'
df_v['Banco recibo'] = 'Lemon'

In [18]:
columnas_ventas = ['Fecha de creación', 'Exchange Venta', 'Precio total', 'Precio', 'Monto', 'Banco recibo', 'Número de orden','Tipo de orden']
columnas_compra = ['Fecha de creación','Exchange compra', 'Precio total', 'Precio', 'Monto', 'Banco envio', 'Número de orden' ,'Tipo de orden']

In [19]:
df_v = df_v[columnas_ventas]
df_c = df_c[columnas_compra]

In [20]:
df_v.to_excel('Bitget Ventas.xlsx', index=False)

In [21]:
df_c.to_excel('Bitget Compras.xlsx', index=False)

In [22]:
df_c.head()

,Fecha de creación,Exchange compra,Precio total,Precio,Monto,Banco envio,Número de orden,Tipo de orden
7,2024-07-12 10:02:25,Bitget - Usdt,190000,1433.05,132.58,Lemon,1195642659789131777,Comprar
6,2024-07-12 10:52:37,Bitget - Usdt,7697.23,1436.05,5.36,Lemon,1195655296606625793,Comprar
5,2024-07-12 11:40:27,Bitget - Usdt,133195.34,1438.55,92.59,Lemon,1195667330718756865,Comprar
4,2024-07-12 11:54:30,Bitget - Usdt,185895.45,1441.05,129,Lemon,1195670868153163777,Comprar
3,2024-07-12 12:12:56,Bitget - Usdt,240000,1442.05,166.43,Lemon,1195675505903853569,Comprar