Nuevo Fiwind

In [10]:
import pandas as pd

In [11]:
df = pd.read_excel('D:\\Users\\OneDrive\\Escritorio\\DA & BA\\Work\\Tisagar\\Fiwind.xlsx')

In [12]:
df = df.dropna(subset=['Monto Origen'])
df = df.drop(columns=['Tipo','Moneda Origen','Moneda','Precio'])
df['Precio'] = df['Monto']/ df['Monto Origen']
df['Exchange Venta'] = 'Fiwind - Usdt'
df['Banco recibido'] = 'Lemon'
df = df[['Fecha', 'Exchange Venta', 'Monto', 'Precio', 'Monto Origen', 'Banco recibido']]

In [13]:
# Convertir la columna de fecha y hora al formato YYYY-MM-DD HH:MM:SS
df['Fecha'] = pd.to_datetime(df['Fecha'], format='%d/%m/%Y %H:%M:%S', errors='coerce')

# Extraer solo la parte de la fecha en el formato YYYY/MM/DD
df['Fecha'] = df['Fecha'].dt.strftime('%Y/%m/%d')

In [14]:
df = df.sort_values(by='Fecha')

In [15]:
df.head()

         Fecha Exchange Venta    Monto    Precio  Monto Origen Banco recibido
47  2024/07/15  Fiwind - Usdt  3256.15  0.000724    4500000.00          Lemon
49  2024/07/15  Fiwind - Usdt  1447.18  0.000724    2000000.00          Lemon
37  2024/07/16  Fiwind - Usdt   183.41  0.000765     239711.56          Lemon
41  2024/07/16  Fiwind - Usdt  1146.79  0.000765    1500000.00          Lemon
18  2024/07/22  Fiwind - Usdt  2250.92  0.000738    3050000.00          Lemon

In [16]:
df.to_excel('Fiwin Venta.xlsx', index=False)